/* Estilização Página */
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    color: black;
}

header {
    background-color: #FF9A6C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

header a {
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 10px; /* Espaço entre os links e os botões */
}

/* Inicialmente, ambos os botões serão escondidos */
#loginBtn, #logoutBtn {
    display: none;
}

/* Exibe o botão de login quando o usuário não estiver logado */
#loginBtn.show {
    display: inline-block;
}

/* Exibe o botão de logout quando o usuário estiver logado */
#logoutBtn.show {
    display: inline-block;
}

#loginBtn, #logoutBtn {
    background-color: #FF9A6C; /* Mesma cor do header */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 5px; /* Reduzi o espaço entre os botões */
}

/* Adicionando efeito de hover para o botão */
#loginBtn:hover, #logoutBtn:hover {
    background-color: #ff725e; /* Cor de destaque para hover */
}

/* Estilização Seção Inicial */

#inicio{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 120px 80px;
    position: relative;
}

h1, h2{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo{
    line-height: 150%;
    margin-bottom: 32px;
}

/* Estilização Botões */

.botao{
    background-color: #ff725e;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente{
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Estilização Seção Clinica */

#clinica {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;

}

#clinica li{
    margin-bottom: 16px;
    margin-left: 32px;
}

/* Estilização Seção Farmácia */

#farmacia{
    padding: 64px 80px;
    text-align: center;

}

#farmacia img{
    margin: 64px auto;

}

#farmacia .paragrafo{
    max-width: 950px;
    margin: 0 auto;

}

/* Estilização Seção Dúvidas */

#duvidas{
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvida{
    position: relative;
}


.duvida h3{
    border: 2px solid #ff725e;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img{
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida .paragrafo{
    border-right: 1px solid #ff725e;
    border-bottom: 1px solid #ff725e;
    border-left: 1px solid #ff725e;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativa .paragrafo{
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

/* Estilização Seção Rodapé */

footer{
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

.footer .titulo{
    display: block;
    font-weight: 600;
    margin-bottom: 24px;

}

footer div:first-child {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 16px; /* Espaçamento entre a imagem e o parágrafo */
}

footer img {
    max-width: 100px; /* Ajuste conforme necessário */
    height: auto;
    width: 150px;

}

footer nav a{
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    
}

footer p{
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a{
    color: #263138;
    display: block;
    text-decoration: none;
    
}

#copyright{
    background-color: #263138;
    color: white;
    padding: 24px;
    text-align: center;
}

#copyright a{
    color: #FF9A6C;

}